.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: rgb(169, 169, 169);
    text-decoration-color: rgb(169, 169, 169);
}

.dots {
    color: rgba(255, 255, 255, 0);
}
