.about h4 {
    color: var(--sweden-blue);
    font-family: 'Indie Flower', sans-serif;
    font-size: 2.1em;
    font-weight: 600;
    margin-left: 10px;
}

.tutorial {
    font-size: 1.5em;
    padding: 5px 25px;
}

.btn-t {
    color: var(--sweden-blue);
    font-size: 1.2em;
}

.fa-share-alt {
    color: green;
    font-size: 1.1em;
}

.tks {
    float: right;
    font-size: 1em;
}

@media (max-width: 900px) {
    .about h4 {
        color: var(--sweden-blue);
        font-family: 'Indie Flower', sans-serif;
        font-size: 1.8em;
        font-weight: 600;
        margin-left: 10px;
    }
    .tutorial {
        font-size: 1.2em;
        padding: 5px 25px;
    }
    .btn-t {
        color: var(--sweden-blue);
        font-size: 1.2em;
    }
    .fa-share-alt {
        color: green;
        font-size: 1.1em;
    }
    .tks {
        float: right;
        font-size: 1em;
    }
}